In [2]:
import pandas as pd
import os

In [3]:
os.chdir('..')

In [46]:
df_raw_val = pd.read_csv('RAW_DATA/20200216_Dubai Residential Monthly Transactions - Value.csv')
df_raw_vol = pd.read_csv('RAW_DATA/20200216_Dubai Residential Monthly Transactions - Volume.csv')

In [47]:
df_raw_val.head()

  Date (Mth)  Transaction Type  Value (AED Billions)
0     Jan-20  Sales - Off Plan         1,751,489,310
1     Jan-20     Sales - Ready         2,553,592,298
2     Dec-19  Sales - Off Plan         2,833,918,333
3     Dec-19     Sales - Ready         2,070,608,607
4     Nov-19  Sales - Off Plan         4,630,339,344

In [48]:
df_raw_vol.head()

  Date (Mth)  Transaction Type  Number
0     Jan-20     Sales - Ready   1,495
1     Jan-20  Sales - Off Plan   1,399
2     Dec-19  Sales - Off Plan   1,683
3     Dec-19     Sales - Ready   1,119
4     Nov-19     Sales - Ready   1,796

In [49]:
for df in (df_raw_val, df_raw_vol):
    # Strip the column(s) you're planning to join with
    df['Transaction Type'] = df['Transaction Type'].str.strip()
    df['Transaction Type'] = df_raw_val['Transaction Type'].astype(str)
    df['Date (Mth)'] = df['Date (Mth)'].str.strip()
    df['Date (Mth)'] = df_raw_val['Date (Mth)'].astype(str)

In [50]:
df_combine = pd.merge(df_raw_val, df_raw_vol, on = ['Date (Mth)', 'Transaction Type'])

In [51]:
df_combine

    Date (Mth)  Transaction Type  Value (AED Billions)   Number
0       Jan-20  Sales - Off Plan         1,751,489,310    1,495
1       Jan-20     Sales - Ready         2,553,592,298    1,399
2       Dec-19  Sales - Off Plan         2,833,918,333    1,683
3       Dec-19     Sales - Ready         2,070,608,607    1,119
4       Nov-19  Sales - Off Plan         4,630,339,344    1,796
..         ...               ...                    ...      ...
309     Mar-07     Sales - Ready           694,923,384      249
310     Feb-07     Sales - Ready           261,435,813       87
311     Feb-07  Sales - Off Plan             3,498,738        2
312     Jan-07     Sales - Ready           437,592,778        4
313     Jan-07  Sales - Off Plan             6,646,626      179

[314 rows x 4 columns]

In [52]:
df_combine.to_csv('ENG_DATA/20200216_Dubai Residential Monthly Transactions - Volume and Value.csv', index= False)