In [196]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import geocoder
import json
import requests

In [84]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
    100% |████████████████████████████████| 102kB 1.7MB/s a 0:00:01
Requirement already satisfied: six in /Users/37138/anaconda3/lib/python3.6/site-packages (from geocoder) (1.11.0)
Requirement already satisfied: future in /Users/37138/anaconda3/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: requests in /Users/37138/anaconda3/lib/python3.6/site-packages (from geocoder) (2.18.4)
Requirement already satisfied: click in /Users/37138/anaconda3/lib/python3.6/site-packages (from geocoder) (6.7)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/37138/anaconda3/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/37138/anaconda3/lib/python3.6/site-packages (from requests->geocoder) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/37138/anaconda3/lib/python3.6/site-packages (from requests->geocoder) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /Users/37138/anaconda3/lib/python3.6/site-packages (from requests->geocoder) (2018.11.29)
Requirement already satisfied: decorator in /Users/37138/anaconda3/lib/python3.6/site-packages (from ratelim->geocoder) (4.1.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [95]:
google_api_key =  'AIzaSyAakAcBX-7O6MUFVINegLMRVW8w4i7pwfs'

In [96]:
!export GOOGLE_API_KEY= google_api_key

In [54]:
df = pd.read_csv('RAW_DATA/SF-Housing-Sales.csv')
df_homicides =  pd.read_csv('RAW_DATA/Homicides.csv')

In [55]:
df_clean = df.drop(['state', 'street_no', 'street_suffix', 'district_desc', 'subdist_desc', 'lot_desc', 'sf_source', 'sf_source_decs', 'sf', 'lot_sf', 'lot_desc'], 1)

In [155]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23711 entries, 0 to 23710
Data columns (total 31 columns):
longitude          23242 non-null float64
latitude           23242 non-null float64
elevation          23242 non-null float64
full_address       23711 non-null object
city               23711 non-null object
street_name        23711 non-null object
zip                23711 non-null int64
area               23711 non-null int64
district_no        23711 non-null int64
subdist_no         23711 non-null int64
on_market_date     23711 non-null object
cdom               23711 non-null int64
orig_list_price    23711 non-null int64
sale_date          23711 non-null object
sale_price         23711 non-null int64
rooms              23711 non-null int64
baths              23711 non-null float64
beds               23711 non-null int64
lot_acres          10332 non-null float64
year_built         23711 non-null int64
zoning             12831 non-null object
drive_side         23711 non-null object
parking            23711 non-null object
park_leased        23711 non-null object
num_parking        23711 non-null int64
shopping           23711 non-null object
transportation     23711 non-null object
type               23711 non-null object
views              23711 non-null object
roi                23711 non-null float64
days_on_market     23711 non-null int64
dtypes: float64(6), int64(12), object(13)
memory usage: 5.8+ MB

In [63]:
df["street_suffix"].fillna("", inplace=True)

In [64]:
#combine street name and suffix 
# df_clean['street_name'].update(df.pop('street_suffix'))
df_clean["street_name"] = df["street_name"] + " " + df["street_suffix"]

In [65]:
df_clean["street_name"].head()

0    El Camino Del Mar
1           La Playa St
2           La Playa St
3              48th Ave
4              48th Ave
Name: street_name, dtype: object

In [66]:
df.keys()

Index(['longitude', 'latitude', 'elevation', 'full_address', 'city', 'state',
       'street_no', 'street_name', 'street_suffix', 'zip', 'area',
       'district_no', 'district_desc', 'subdist_no', 'subdist_desc',
       'on_market_date', 'cdom', 'orig_list_price', 'sale_date', 'sale_price',
       'rooms', 'baths', 'beds', 'sf_source', 'sf_source_decs', 'sf',
       'lot_acres', 'lot_sf', 'year_built', 'zoning', 'lot_desc', 'drive_side',
       'parking', 'park_leased', 'num_parking', 'shopping', 'transportation',
       'type', 'views'],
      dtype='object')

In [67]:
df_clean.keys()

Index(['longitude', 'latitude', 'elevation', 'full_address', 'city',
       'street_name', 'zip', 'area', 'district_no', 'subdist_no',
       'on_market_date', 'cdom', 'orig_list_price', 'sale_date', 'sale_price',
       'rooms', 'baths', 'beds', 'lot_acres', 'year_built', 'zoning',
       'drive_side', 'parking', 'park_leased', 'num_parking', 'shopping',
       'transportation', 'type', 'views'],
      dtype='object')

In [68]:
df_clean["roi"] = (df_clean["sale_price"]-df_clean["orig_list_price"])/df_clean["orig_list_price"] *100

In [69]:
def computeDays(date1, date2): 
    date_format = "%m/%d/%y"
    a = datetime.strptime(date1, date_format)
    b = datetime.strptime(date2, date_format)
    delta = b - a
    return delta.days # that's it

In [70]:
df_clean["days_on_market"] = df_clean[["on_market_date", "sale_date"]].apply(lambda x: computeDays(x.on_market_date, x.sale_date), axis=1)

In [71]:
df_clean.drop_duplicates(inplace=True)

In [72]:
len(df_clean)

23711

In [178]:
df_clean.isnull().sum()

Unnamed: 0             0
longitude              0
latitude               0
elevation            469
full_address           0
city                   0
street_name            0
zip                    0
area                   0
district_no            0
subdist_no             0
on_market_date         0
cdom                   0
orig_list_price        0
sale_date              0
sale_price             0
rooms                  0
baths                  0
beds                   0
lot_acres          13379
year_built             0
zoning             10880
drive_side             0
parking                0
park_leased            0
num_parking            0
shopping               0
transportation         0
type                   0
views                  0
roi                    0
days_on_market         0
dtype: int64

In [159]:
output_df = df_clean.loc[df_clean['latitude'].isnull()][['full_address', 'longitude', 'latitude']]

In [164]:
output_df = output_df.apply(getLatLong, axis=1)
output_df.to_csv('MISSING_lat_and_long.csv')

In [179]:
df_clean.to_csv('11-14_Clean_df.csv')

In [175]:
df_clean = pd.read_csv('11-14_Clean_df.csv')

In [176]:
df_clean.loc[df_clean["longitude"].isnull(),['full_address', 'longitude', 'latitude']] = output_df[['full_address', 'longitude', 'latitude']]

In [177]:
df_clean.loc[df_clean['latitude'].isnull()].head()

Empty DataFrame
Columns: [Unnamed: 0, longitude, latitude, elevation, full_address, city, street_name, zip, area, district_no, subdist_no, on_market_date, cdom, orig_list_price, sale_date, sale_price, rooms, baths, beds, lot_acres, year_built, zoning, drive_side, parking, park_leased, num_parking, shopping, transportation, type, views, roi, days_on_market]
Index: []

[0 rows x 32 columns]

In [345]:
missing_elevation_data = df_clean.loc[df_clean['elevation'].isnull()][['longitude', 'latitude']]

In [156]:
def getLatLong(x):
    g = geocoder.google(x['full_address'], key = google_api_key)
    x['longitude'] = g.latlng[1]
    x['latitude'] = g.latlng[0]
    return x

In [310]:
def elevation(lat, lng):
    l = []
    for i in range(len(lat)-1): 
        l.append(str(lat[i])+","+str(lng[i])+"|")
    l.append(str(lat[len(lat)-1])+","+str(lng[len(lat)-1]))
    locations = ''.join(l)
    url_ = "https://maps.googleapis.com/maps/api/elevation/json"
    payload = {'locations': locations, 'key': google_api_key} 
    r = requests.get(url=url_, params=payload)
    try:
        results = r.json()
        if 0 < len(results):
            return results['results']
        else:
            print ('HTTP GET Request failed.')
    except ValueError:
        print ('JSON decode failed: '+ str(r))

In [311]:
elev = elevation(list(missing_elevation_data['latitude'])[:5], list(missing_elevation_data['longitude'])[:5])

In [313]:
for e in elev: 
    e['elevation'] *= 3.28084

In [323]:
df_elev = pd.DataFrame(elev)
df_elev.head()

    elevation                                  location  resolution
0  653.231484   {'lat': 37.750127, 'lng': -122.4662067}    9.543952
1  523.053884  {'lat': 37.7570309, 'lng': -122.4709829}    9.543952
2  376.417092    {'lat': 37.740392, 'lng': -122.471498}    9.543952
3  197.549123  {'lat': 37.7779369, 'lng': -122.4747148}    9.543952
4  440.837594  {'lat': 37.7520228, 'lng': -122.4744322}    9.543952

In [324]:
df_elev["longitude"] = df_elev["location"].apply(lambda x: x['lng'])
df_elev["latitude"] = df_elev["location"].apply(lambda x: x['lat'])

In [340]:
df_elev.head()

    elevation   longitude   latitude
0  653.231484 -122.466207  37.750127
1  523.053884 -122.470983  37.757031
2  376.417092 -122.471498  37.740392
3  197.549123 -122.474715  37.777937
4  440.837594 -122.474432  37.752023

In [339]:
df_elev.drop(['resolution'], 1, inplace=True)

In [346]:
missing_elevation_data = pd.merge(missing_elevation_data, df_elev, how = 'left', on = ['latitude', 'longitude'], reset_index = False)

TypeError: merge() got an unexpected keyword argument 'reset_index'

In [344]:
missing_elevation_data.head()

    longitude   latitude   elevation
0 -122.466207  37.750127  653.231484
1 -122.470983  37.757031  523.053884
2 -122.471498  37.740392  376.417092
3 -122.474715  37.777937  197.549123
4 -122.474432  37.752023  440.837594

In [ ]:
df_clean.loc[df_clean["longitude"].isnull(),['full_address', 'longitude', 'latitude']] = output_df[['full_address', 'longitude', 'latitude']]

In [186]:
df_clean.head(5)

,Unnamed: 0,longitude,latitude,elevation,full_address,city,street_name,zip,area,district_no,...,drive_side,parking,park_leased,num_parking,shopping,transportation,type,views,roi,days_on_market
0,0,-122.50965,37.780280,200.83,"2645 El Camino Del Mar, San Francisco, CA 94121",San Francisco,El Camino Del Mar,94121,1050,1,...,"PVDW,PVSW","ATCH,GARG",0,2,4BLK,1BLK,3STR,"PNRM,OCEN,PARK,GRDN",15.068493,8
1,1,-122.50929,37.762608,23.21,"1278 La Playa St, San Francisco, CA 94122",San Francisco,La Playa St,94122,2030,2,...,0,"ATCH,GARG,ATDR,INAC",ONST,1,2BLK,1BLK,0,0,-14.000000,144
2,2,-122.50929,37.762608,23.21,"1278 La Playa St, San Francisco, CA 94122",San Francisco,La Playa St,94122,2030,2,...,0,"ATCH,GARG,ATDR,INAC",ONST,1,2BLK,1BLK,0,0,9.318996,91
3,3,-122.50924,37.777330,189.11,"590 48th Ave, San Francisco, CA 94121",San Francisco,48th Ave,94121,1050,1,...,"PVDW,PVSW",GARG,0,2,3BLK,1BLK,"ATAC,2STR,FIXR","WATR,OCEN,PARK",-1.379310,54
4,4,-122.50919,37.776695,175.89,"618 48th Ave, San Francisco, CA 94121",San Francisco,48th Ave,94121,1050,1,...,PVDW,"ATCH,GARG,ATDR,INAC",0,3,4BLK,2BLK,3STR,"PNRM,CTYL,OCEN,PARK",0.000000,36